.btn-loading-container {
  margin-left: 10px;
  font-size: 1.2em;
}
.btn-done-indicator {
  color: green;
}
.btn-err {
  margin-top: 10px;
  color: red;
}

.btn-help {
  width:23px;
  height:23px;
  margin-left: 20px;
  vertical-align: text-top;
  border-radius: 50%;
  border-color: white;
}
